/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .extra-member {
  position: relative;
  margin: 24px 0;
  padding: 24px 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.remove-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}